{% extends 'base.html' %}

{% block body %}
    <div class="page-header">
        <h1 style="font-family: SansSerif">Login</h1>
    </div>
    <form action="{% url 'login:login' %}" method="post" style="margin-bottom: 2%">
        {% csrf_token %}
        <div class="input-group" style="margin-bottom: 2%">
            <h1 class="input-group-addon">Name </h1><input class="form-control" name="username" width="20px">
        </div>
        <div class="input-group" style="margin-bottom: 2%">
            <h1 class="input-group-addon">Password</h1><input class="form-control" type="password" name="password">
        </div>
        <input class="btn btn-success btn-lg" type="submit">
    </form>
    <a href="{% url 'login:sign'%}" style="margin-bottom: 50px">Not Registered</a>
    {% if message %}
        <h1 class="fa-bold">{{ message }}</h1>
    {% endif %}
{% endblock %}